.dropdown {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    top: 5.5rem;
    right: 0;
    z-index: 2;
    background-color: black;
    padding: 1rem;
    width: 250px;
    transform: scaleY(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: top;
}

.open {
    transform: scaleY(100%);
}

.close {
    transform: scaleY(0);
}

.dropdown img {
    width: 60px;
}

.dropdown .item {
    display: flex;
    gap: 1rem;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}